backups/followup_fix_20260414_130008.json
{
  "updatedAt": "2026-04-07T18:01:06.426Z",
  "createdAt": "2026-03-27T21:09:52.671Z",
  "id": "aBMaCWPodLaS8I6L",
  "name": "follow_up_agent_n8n_agencia_br",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        304
      ],
      "id": "re-cron",
      "name": "Trigger 30min"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reengagement-test-run",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        64
      ],
      "id": "re-wh",
      "name": "Webhook Teste",
      "webhookId": "re-wh-001",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH eligible AS (\n  SELECT c.id AS crm_contact_id, c.telefone AS phone,\n    SPLIT_PART(SPLIT_PART(COALESCE(c.nome,''), '|', 1), ' ', 1) AS nome,\n    c.stage,\n    COALESCE(c.followup_count, 0) AS followup_count,\n    COALESCE(c.observacoes_sdr, '') AS obs,\n    COALESCE(c.nicho, '') AS nicho\n  FROM contacts c\n  JOIN wa_contacts wac ON wac.wa_id = c.telefone\n  JOIN wa_conversations wc ON wc.contact_id = wac.id\n  WHERE wc.bot_active = true AND wc.status = 'open'\n    AND c.stage NOT IN ('agendado','agendou','fechou','perdido','sem_interesse','realizada')\n    AND c.last_bot_msg_at IS NOT NULL\n    AND (c.last_lead_msg_at IS NULL OR c.last_lead_msg_at < c.last_bot_msg_at)\n    AND (\n      -- Lead que NUNCA respondeu: apenas follow-up 0 e 1\n      (c.last_lead_msg_at IS NULL AND (\n        (COALESCE(c.followup_count,0) = 0\n          AND c.last_bot_msg_at < NOW() - INTERVAL '1 hour'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '4 hours')\n        OR (COALESCE(c.followup_count,0) = 1\n          AND c.last_bot_msg_at < NOW() - INTERVAL '4 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '12 hours')\n      ))\n      OR\n      -- Lead que JÁ respondeu: todos follow-ups 0 a 5\n      (c.last_lead_msg_at IS NOT NULL AND (\n        (COALESCE(c.followup_count,0) = 0\n          AND c.last_bot_msg_at < NOW() - INTERVAL '1 hour'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '4 hours')\n        OR (COALESCE(c.followup_count,0) = 1\n          AND c.last_bot_msg_at < NOW() - INTERVAL '4 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '12 hours')\n        OR (COALESCE(c.followup_count,0) = 2\n          AND c.last_bot_msg_at < NOW() - INTERVAL '12 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '24 hours')\n        OR (COALESCE(c.followup_count,0) = 3\n          AND c.last_bot_msg_at < NOW() - INTERVAL '24 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '48 hours')\n        OR (COALESCE(c.followup_count,0) = 4\n          AND c.last_bot_msg_at < NOW() - INTERVAL '48 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '60 hours')\n        OR (COALESCE(c.followup_count,0) = 5\n          AND c.last_bot_msg_at < NOW() - INTERVAL '60 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '72 hours')\n      ))\n    )\n  LIMIT 20\n),\nreagend AS (\n  SELECT c.id AS crm_contact_id, c.telefone AS phone,\n    SPLIT_PART(SPLIT_PART(COALESCE(c.nome,''), '|', 1), ' ', 1) AS nome,\n    c.stage,\n    99 AS followup_count,\n    COALESCE(c.observacoes_sdr, '') AS obs,\n    COALESCE(c.nicho, '') AS nicho\n  FROM contacts c\n  JOIN wa_contacts wac ON wac.wa_id = c.telefone\n  JOIN wa_conversations wc ON wc.contact_id = wac.id\n  WHERE c.stage = 'agendado'\n    AND c.scheduled_at IS NOT NULL\n    AND c.scheduled_at < NOW() - INTERVAL '24 hours'\n    AND wc.bot_active = true AND wc.status = 'open'\n    AND (c.last_lead_msg_at IS NULL OR c.last_lead_msg_at < c.last_bot_msg_at)\n  LIMIT 10\n)\nSELECT crm_contact_id, phone, followup_count,\n  CASE\n    -- FOLLOW-UP 0: CURIOSIDADE (1h)\n    WHEN followup_count = 0 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! Sabia que empresas que respondem em até 5 minutos têm 9 vezes mais chance de fechar? No segmento de ' || TRIM(nicho) || E' isso faz toda a diferença. Posso te mostrar como funciona na prática?'\n    WHEN followup_count = 0 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Vi que a gente já conversou um pouco. Empresas que respondem em até 5 minutos têm 9 vezes mais chance de fechar. O Agente faz isso por você 24 horas por dia. Quer ver como ficaria no seu caso?'\n    WHEN followup_count = 0 THEN\n      'Oi ' || TRIM(nome) || E'! Empresas que respondem em até 5 minutos têm 9 vezes mais chance de fechar. O Agente 24 Horas faz isso no seu WhatsApp, de dia ou de madrugada. Quer ver como funciona?'\n\n    -- FOLLOW-UP 1: VALOR DIRETO (4h)\n    WHEN followup_count = 1 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! O Agente de IA atende mais de 50 conversas ao mesmo tempo, sem fila e sem espera. Para ' || TRIM(nicho) || E', isso significa nunca mais perder um cliente por demora. São 30 minutos de call pra te mostrar ao vivo. Faz sentido?'\n    WHEN followup_count = 1 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Com base no que você me contou, o Agente resolveria o atendimento do seu negócio sem precisar contratar ninguém. Ele atende 24 horas, qualifica e agenda sozinho. Quer ver em 30 minutos como ficaria?'\n    WHEN followup_count = 1 THEN\n      'Oi ' || TRIM(nome) || E'! O Agente de IA absorve 80% das perguntas repetitivas e libera você pra focar no que realmente importa. Funciona 24 horas, 7 dias, sem folga. São 30 minutos pra te mostrar ao vivo. Quer ver?'\n\n    -- FOLLOW-UP 2: PROVA SOCIAL (12h)\n    WHEN followup_count = 2 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! Implementamos um agente para um negócio de ' || TRIM(nicho) || E' e em uma semana ele já estava qualificando leads e agendando reuniões no automático. Zero trabalho do dono. Quer que eu te mostre como ficaria no seu?'\n    WHEN followup_count = 2 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Um cliente nosso tinha o mesmo desafio que você me contou. Depois do Agente, os leads começaram a ser qualificados sozinhos e as reuniões agendadas no automático. Quer ver como ficaria no seu caso?'\n    WHEN followup_count = 2 THEN\n      'Oi ' || TRIM(nome) || E'! Um dos nossos clientes estava perdendo leads por não conseguir responder rápido. Em uma semana com o Agente, as reuniões já estavam sendo agendadas sozinhas. Quer ver como funciona?'\n\n    -- FOLLOW-UP 3: URGÊNCIA (24h)\n    WHEN followup_count = 3 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! Ainda tenho alguns horários essa semana pra te mostrar o Agente funcionando ao vivo para ' || TRIM(nicho) || E'. São 30 minutos e você sai sabendo exatamente como aplicar. Posso reservar um pra você?'\n    WHEN followup_count = 3 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Ainda tenho alguns horários essa semana. Na call de 30 minutos eu te mostro o Agente funcionando ao vivo no WhatsApp, personalizado pro seu caso. Posso reservar um pra você?'\n    WHEN followup_count = 3 THEN\n      'Oi ' || TRIM(nome) || E'! Ainda tenho alguns horários essa semana pra te mostrar o Agente funcionando ao vivo. São 30 minutos sem compromisso. Posso reservar um pra você?'\n\n    -- FOLLOW-UP 4: PROVOCAÇÃO (48h)\n    WHEN followup_count = 4 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! Cada dia sem responder rápido no WhatsApp são clientes indo pro concorrente. No segmento de ' || TRIM(nicho) || E' isso pesa. Se quiser ver o Agente funcionando, é só responder \"quero\".'\n    WHEN followup_count = 4 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Cada dia sem responder rápido no WhatsApp são clientes que vão embora. O Agente resolve isso em até 7 dias úteis, sem trabalho nenhum do seu lado. Se tiver interesse, é só responder \"quero\".'\n    WHEN followup_count = 4 THEN\n      'Oi ' || TRIM(nome) || E'! Cada dia sem responder rápido no WhatsApp são clientes que vão pro concorrente. O Agente 24 Horas resolve isso. Se quiser ver funcionando, é só responder \"quero\".'\n\n    -- FOLLOW-UP 5: DESPEDIDA (60h)\n    WHEN followup_count = 5 THEN\n      'Oi ' || TRIM(nome) || E'! Última mensagem por aqui. Se no futuro quiser implementar um Agente de IA no seu negócio, é só me chamar. Desejo muito sucesso!'\n\n    -- REAGENDAMENTO (24h+ após scheduled_at)\n    WHEN followup_count = 99 THEN\n      'Oi ' || TRIM(nome) || E'! Vi que tínhamos uma reunião agendada mas não conseguimos nos falar. Sem problemas! O Agente 24 Horas continua disponível pra você. Quer reagendar pra essa semana?'\n\n    ELSE\n      'Oi ' || TRIM(nome) || E'! Tudo bem? Ficou alguma dúvida sobre o Agente 24 Horas? Estou aqui pra te ajudar!'\n  END AS body\nFROM (\n  SELECT * FROM eligible\n  UNION ALL\n  SELECT * FROM reagend\n) leads",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        128,
        192
      ],
      "id": "re-q",
      "name": "Buscar Leads",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "qjAlzv5GyfH3869u",
          "name": "Postgres agent-n8n-agencia"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agente.casaldotrafego.com/api/whatsapp/bot-send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({phone: $json.phone, body: $json.body}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        192
      ],
      "id": "re-send",
      "name": "Enviar Msg",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        192
      ],
      "id": "re-wait",
      "name": "Esperar 3s",
      "webhookId": "8b0c75a7-d1df-4f0b-abf5-a5bb4750064b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contacts\nSET followup_count = CASE\n      WHEN {{ $('Buscar Leads').item.json.followup_count }} = 99 THEN 100\n      ELSE COALESCE(followup_count, 0) + 1\n    END,\n    last_bot_msg_at = NOW(),\n    stage = CASE\n      WHEN {{ $('Buscar Leads').item.json.followup_count }} = 99 THEN stage\n      WHEN last_lead_msg_at IS NULL AND COALESCE(followup_count, 0) + 1 >= 2 THEN 'sem_interesse'\n      WHEN COALESCE(followup_count, 0) + 1 >= 6 THEN 'sem_interesse'\n      ELSE stage\n    END\nWHERE id = {{ $('Buscar Leads').item.json.crm_contact_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        192
      ],
      "id": "re-upd",
      "name": "Marcar Followup",
      "credentials": {
        "postgres": {
          "id": "qjAlzv5GyfH3869u",
          "name": "Postgres agent-n8n-agencia"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1232,
        192
      ],
      "id": "re-end",
      "name": "Concluido"
    }
  ],
  "connections": {
    "Trigger 30min": {
      "main": [
        [
          {
            "node": "Buscar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Teste": {
      "main": [
        [
          {
            "node": "Buscar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Leads": {
      "main": [
        [
          {
            "node": "Enviar Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Msg": {
      "main": [
        [
          {
            "node": "Esperar 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 3s": {
      "main": [
        [
          {
            "node": "Marcar Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Followup": {
      "main": [
        [
          {
            "node": "Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger 10h BRT": {
      "recurrenceRules": []
    },
    "node:Trigger 30min": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "dd3a20b0-8913-4a1f-9150-63df647a285d",
  "activeVersionId": "dd3a20b0-8913-4a1f-9150-63df647a285d",
  "versionCounter": 128,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T21:09:52.671Z",
      "createdAt": "2026-03-27T21:09:52.671Z",
      "role": "workflow:owner",
      "workflowId": "aBMaCWPodLaS8I6L",
      "projectId": "zOhXEDtus09yEDuf",
      "project": {
        "updatedAt": "2026-03-09T14:28:34.136Z",
        "createdAt": "2026-03-09T14:27:16.061Z",
        "id": "zOhXEDtus09yEDuf",
        "name": "GASTAO Matos <dr.trafego@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ea43f025-b384-4503-86c8-baa14ce3478e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-07T18:01:06.428Z",
    "createdAt": "2026-04-07T18:01:06.428Z",
    "versionId": "dd3a20b0-8913-4a1f-9150-63df647a285d",
    "workflowId": "aBMaCWPodLaS8I6L",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/30 * * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -208,
          304
        ],
        "id": "re-cron",
        "name": "Trigger 30min"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "reengagement-test-run",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -208,
          64
        ],
        "id": "re-wh",
        "name": "Webhook Teste",
        "webhookId": "re-wh-001",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH eligible AS (\n  SELECT c.id AS crm_contact_id, c.telefone AS phone,\n    SPLIT_PART(SPLIT_PART(COALESCE(c.nome,''), '|', 1), ' ', 1) AS nome,\n    c.stage,\n    COALESCE(c.followup_count, 0) AS followup_count,\n    COALESCE(c.observacoes_sdr, '') AS obs,\n    COALESCE(c.nicho, '') AS nicho\n  FROM contacts c\n  JOIN wa_contacts wac ON wac.wa_id = c.telefone\n  JOIN wa_conversations wc ON wc.contact_id = wac.id\n  WHERE wc.bot_active = true AND wc.status = 'open'\n    AND c.stage NOT IN ('agendado','agendou','fechou','perdido','sem_interesse','realizada')\n    AND c.last_bot_msg_at IS NOT NULL\n    AND (c.last_lead_msg_at IS NULL OR c.last_lead_msg_at < c.last_bot_msg_at)\n    AND (\n      -- Lead que NUNCA respondeu: apenas follow-up 0 e 1\n      (c.last_lead_msg_at IS NULL AND (\n        (COALESCE(c.followup_count,0) = 0\n          AND c.last_bot_msg_at < NOW() - INTERVAL '1 hour'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '4 hours')\n        OR (COALESCE(c.followup_count,0) = 1\n          AND c.last_bot_msg_at < NOW() - INTERVAL '4 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '12 hours')\n      ))\n      OR\n      -- Lead que JÁ respondeu: todos follow-ups 0 a 5\n      (c.last_lead_msg_at IS NOT NULL AND (\n        (COALESCE(c.followup_count,0) = 0\n          AND c.last_bot_msg_at < NOW() - INTERVAL '1 hour'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '4 hours')\n        OR (COALESCE(c.followup_count,0) = 1\n          AND c.last_bot_msg_at < NOW() - INTERVAL '4 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '12 hours')\n        OR (COALESCE(c.followup_count,0) = 2\n          AND c.last_bot_msg_at < NOW() - INTERVAL '12 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '24 hours')\n        OR (COALESCE(c.followup_count,0) = 3\n          AND c.last_bot_msg_at < NOW() - INTERVAL '24 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '48 hours')\n        OR (COALESCE(c.followup_count,0) = 4\n          AND c.last_bot_msg_at < NOW() - INTERVAL '48 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '60 hours')\n        OR (COALESCE(c.followup_count,0) = 5\n          AND c.last_bot_msg_at < NOW() - INTERVAL '60 hours'\n          AND c.last_bot_msg_at > NOW() - INTERVAL '72 hours')\n      ))\n    )\n  LIMIT 20\n),\nreagend AS (\n  SELECT c.id AS crm_contact_id, c.telefone AS phone,\n    SPLIT_PART(SPLIT_PART(COALESCE(c.nome,''), '|', 1), ' ', 1) AS nome,\n    c.stage,\n    99 AS followup_count,\n    COALESCE(c.observacoes_sdr, '') AS obs,\n    COALESCE(c.nicho, '') AS nicho\n  FROM contacts c\n  JOIN wa_contacts wac ON wac.wa_id = c.telefone\n  JOIN wa_conversations wc ON wc.contact_id = wac.id\n  WHERE c.stage = 'agendado'\n    AND c.scheduled_at IS NOT NULL\n    AND c.scheduled_at < NOW() - INTERVAL '24 hours'\n    AND wc.bot_active = true AND wc.status = 'open'\n    AND (c.last_lead_msg_at IS NULL OR c.last_lead_msg_at < c.last_bot_msg_at)\n  LIMIT 10\n)\nSELECT crm_contact_id, phone, followup_count,\n  CASE\n    -- FOLLOW-UP 0: CURIOSIDADE (1h)\n    WHEN followup_count = 0 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! Sabia que empresas que respondem em até 5 minutos têm 9 vezes mais chance de fechar? No segmento de ' || TRIM(nicho) || E' isso faz toda a diferença. Posso te mostrar como funciona na prática?'\n    WHEN followup_count = 0 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Vi que a gente já conversou um pouco. Empresas que respondem em até 5 minutos têm 9 vezes mais chance de fechar. O Agente faz isso por você 24 horas por dia. Quer ver como ficaria no seu caso?'\n    WHEN followup_count = 0 THEN\n      'Oi ' || TRIM(nome) || E'! Empresas que respondem em até 5 minutos têm 9 vezes mais chance de fechar. O Agente 24 Horas faz isso no seu WhatsApp, de dia ou de madrugada. Quer ver como funciona?'\n\n    -- FOLLOW-UP 1: VALOR DIRETO (4h)\n    WHEN followup_count = 1 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! O Agente de IA atende mais de 50 conversas ao mesmo tempo, sem fila e sem espera. Para ' || TRIM(nicho) || E', isso significa nunca mais perder um cliente por demora. São 30 minutos de call pra te mostrar ao vivo. Faz sentido?'\n    WHEN followup_count = 1 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Com base no que você me contou, o Agente resolveria o atendimento do seu negócio sem precisar contratar ninguém. Ele atende 24 horas, qualifica e agenda sozinho. Quer ver em 30 minutos como ficaria?'\n    WHEN followup_count = 1 THEN\n      'Oi ' || TRIM(nome) || E'! O Agente de IA absorve 80% das perguntas repetitivas e libera você pra focar no que realmente importa. Funciona 24 horas, 7 dias, sem folga. São 30 minutos pra te mostrar ao vivo. Quer ver?'\n\n    -- FOLLOW-UP 2: PROVA SOCIAL (12h)\n    WHEN followup_count = 2 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! Implementamos um agente para um negócio de ' || TRIM(nicho) || E' e em uma semana ele já estava qualificando leads e agendando reuniões no automático. Zero trabalho do dono. Quer que eu te mostre como ficaria no seu?'\n    WHEN followup_count = 2 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Um cliente nosso tinha o mesmo desafio que você me contou. Depois do Agente, os leads começaram a ser qualificados sozinhos e as reuniões agendadas no automático. Quer ver como ficaria no seu caso?'\n    WHEN followup_count = 2 THEN\n      'Oi ' || TRIM(nome) || E'! Um dos nossos clientes estava perdendo leads por não conseguir responder rápido. Em uma semana com o Agente, as reuniões já estavam sendo agendadas sozinhas. Quer ver como funciona?'\n\n    -- FOLLOW-UP 3: URGÊNCIA (24h)\n    WHEN followup_count = 3 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! Ainda tenho alguns horários essa semana pra te mostrar o Agente funcionando ao vivo para ' || TRIM(nicho) || E'. São 30 minutos e você sai sabendo exatamente como aplicar. Posso reservar um pra você?'\n    WHEN followup_count = 3 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Ainda tenho alguns horários essa semana. Na call de 30 minutos eu te mostro o Agente funcionando ao vivo no WhatsApp, personalizado pro seu caso. Posso reservar um pra você?'\n    WHEN followup_count = 3 THEN\n      'Oi ' || TRIM(nome) || E'! Ainda tenho alguns horários essa semana pra te mostrar o Agente funcionando ao vivo. São 30 minutos sem compromisso. Posso reservar um pra você?'\n\n    -- FOLLOW-UP 4: PROVOCAÇÃO (48h)\n    WHEN followup_count = 4 AND LENGTH(nicho) > 0 THEN\n      'Oi ' || TRIM(nome) || E'! Cada dia sem responder rápido no WhatsApp são clientes indo pro concorrente. No segmento de ' || TRIM(nicho) || E' isso pesa. Se quiser ver o Agente funcionando, é só responder \"quero\".'\n    WHEN followup_count = 4 AND LENGTH(obs) >= 150 THEN\n      'Oi ' || TRIM(nome) || E'! Cada dia sem responder rápido no WhatsApp são clientes que vão embora. O Agente resolve isso em até 7 dias úteis, sem trabalho nenhum do seu lado. Se tiver interesse, é só responder \"quero\".'\n    WHEN followup_count = 4 THEN\n      'Oi ' || TRIM(nome) || E'! Cada dia sem responder rápido no WhatsApp são clientes que vão pro concorrente. O Agente 24 Horas resolve isso. Se quiser ver funcionando, é só responder \"quero\".'\n\n    -- FOLLOW-UP 5: DESPEDIDA (60h)\n    WHEN followup_count = 5 THEN\n      'Oi ' || TRIM(nome) || E'! Última mensagem por aqui. Se no futuro quiser implementar um Agente de IA no seu negócio, é só me chamar. Desejo muito sucesso!'\n\n    -- REAGENDAMENTO (24h+ após scheduled_at)\n    WHEN followup_count = 99 THEN\n      'Oi ' || TRIM(nome) || E'! Vi que tínhamos uma reunião agendada mas não conseguimos nos falar. Sem problemas! O Agente 24 Horas continua disponível pra você. Quer reagendar pra essa semana?'\n\n    ELSE\n      'Oi ' || TRIM(nome) || E'! Tudo bem? Ficou alguma dúvida sobre o Agente 24 Horas? Estou aqui pra te ajudar!'\n  END AS body\nFROM (\n  SELECT * FROM eligible\n  UNION ALL\n  SELECT * FROM reagend\n) leads",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          128,
          192
        ],
        "id": "re-q",
        "name": "Buscar Leads",
        "alwaysOutputData": false,
        "credentials": {
          "postgres": {
            "id": "qjAlzv5GyfH3869u",
            "name": "Postgres agent-n8n-agencia"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://agente.casaldotrafego.com/api/whatsapp/bot-send",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({phone: $json.phone, body: $json.body}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          192
        ],
        "id": "re-send",
        "name": "Enviar Msg",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          704,
          192
        ],
        "id": "re-wait",
        "name": "Esperar 3s",
        "webhookId": "8b0c75a7-d1df-4f0b-abf5-a5bb4750064b"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE contacts\nSET followup_count = CASE\n      WHEN {{ $('Buscar Leads').item.json.followup_count }} = 99 THEN 100\n      ELSE COALESCE(followup_count, 0) + 1\n    END,\n    last_bot_msg_at = NOW(),\n    stage = CASE\n      WHEN {{ $('Buscar Leads').item.json.followup_count }} = 99 THEN stage\n      WHEN last_lead_msg_at IS NULL AND COALESCE(followup_count, 0) + 1 >= 2 THEN 'sem_interesse'\n      WHEN COALESCE(followup_count, 0) + 1 >= 6 THEN 'sem_interesse'\n      ELSE stage\n    END\nWHERE id = {{ $('Buscar Leads').item.json.crm_contact_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          960,
          192
        ],
        "id": "re-upd",
        "name": "Marcar Followup",
        "credentials": {
          "postgres": {
            "id": "qjAlzv5GyfH3869u",
            "name": "Postgres agent-n8n-agencia"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1232,
          192
        ],
        "id": "re-end",
        "name": "Concluido"
      }
    ],
    "connections": {
      "Trigger 30min": {
        "main": [
          [
            {
              "node": "Buscar Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Teste": {
        "main": [
          [
            {
              "node": "Buscar Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Leads": {
        "main": [
          [
            {
              "node": "Enviar Msg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Msg": {
        "main": [
          [
            {
              "node": "Esperar 3s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Esperar 3s": {
        "main": [
          [
            {
              "node": "Marcar Followup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marcar Followup": {
        "main": [
          [
            {
              "node": "Concluido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "GASTAO Matos",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-07T18:01:06.687Z",
        "id": 1661,
        "workflowId": "aBMaCWPodLaS8I6L",
        "versionId": "dd3a20b0-8913-4a1f-9150-63df647a285d",
        "event": "activated",
        "userId": "ea43f025-b384-4503-86c8-baa14ce3478e"
      }
    ]
  }
}