workflow_current.json
{
  "updatedAt": "2026-03-18T11:45:28.375Z",
  "createdAt": "2026-03-18T01:19:51.655Z",
  "id": "JmiydfZHpeU8tnic",
  "name": "agent_n8n_agencia",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46238b88-c2b1-4728-950c-2ca5299e4503",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        432
      ],
      "id": "fb6acc70-9b77-4295-b1d8-b26cb947f842",
      "name": "Set file_id"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2160,
        432
      ],
      "id": "f6eae314-a1a6-4201-b141-0a7f07f410e2",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1936,
        432
      ],
      "id": "6049f963-1566-4c81-83ea-88cb6c4a83ec",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -1744,
        304
      ],
      "id": "c8c7c1e7-7d98-4d32-a760-0fe5c15a7722",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set file_id').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1648,
        480
      ],
      "id": "4b77dde0-04f6-4d9c-8ecb-0584586c3072",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1584,
        704
      ],
      "id": "698f8c5b-47b3-416a-ac1b-3682e31fa300",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "=documents",
        "filterType": "=string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2384,
        432
      ],
      "id": "8cb5d386-402c-4b20-bd68-e1cd66627c05",
      "name": "Delete Row",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_bXzATBY6mO4JloQbZVkKwUvQtnckT9r",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2832,
        336
      ],
      "id": "61602e01-4d53-4c25-998e-1e46705796c3",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_bXzATBY6mO4JloQbZVkKwUvQtnckT9r",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2832,
        528
      ],
      "id": "2e48e422-3db4-4bcc-bc69-55099a2039f0",
      "name": "Google Drive Trigger1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1776,
        640
      ],
      "id": "9a7a35f0-011e-4d10-bab5-20618be95b12",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e0cb9c78-4115-4da4-905a-400ca11b5eb8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4048,
        2080
      ],
      "id": "62c3bbee-d1ff-45c7-a9b0-937953d4c6c7",
      "name": "Webhook",
      "webhookId": "e0cb9c78-4115-4da4-905a-400ca11b5eb8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "switch2-text-meta"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "switch2-audio-meta"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3520,
        2080
      ],
      "id": "f8a7989b-eef6-4f10-aa26-18479effe226",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM contacts WHERE telefone = $1 LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -400,
        2080
      ],
      "id": "b90f76cf-934e-4b1f-b1a2-877bd609ee6e",
      "name": "Buscar Contato",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fa3cec5-82b4-40d6-9d76-bb8147626b99",
              "name": "Mensagem",
              "value": "={{ $json.Mensagem }}",
              "type": "string"
            },
            {
              "id": "b2f258ef-7cbb-4117-b440-4031013f7259",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "46d025d9-7bcd-4812-b80b-fa4d8c1f500d",
              "name": "Instance",
              "value": "={{ $json.Instance }}",
              "type": "string"
            },
            {
              "id": "be6d78af-9ed2-407b-bd72-eecfb29ea3dc",
              "name": "MensagemID",
              "value": "={{ $json.MensagemID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        2144
      ],
      "id": "312152f2-c83c-47b8-bac5-fd581fac9e09",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2496,
        1984
      ],
      "id": "174c04dc-e1dc-413d-bf88-e6e681a97abe",
      "name": "Wait4",
      "webhookId": "aad25698-4397-444d-b007-ba1a6c11076a"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1344,
        2144
      ],
      "id": "fa6bf552-14e8-42f0-a7fd-e65697b35eeb",
      "name": "Merge7"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=agencia:{{ $('Texto').item.json.From }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1568,
        2080
      ],
      "id": "c90d3238-5d5a-4d2a-90f0-53c6b36715d4",
      "name": "Redis13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65542548-e0ae-4b35-bbeb-17431ae59ffb",
              "leftValue": "={{ $json.time_stamp_base }}",
              "rightValue": "={{ $json.timestamp_ultima_msg }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1792,
        2080
      ],
      "id": "14a6e1f1-c2eb-4253-9321-63ab46c417f8",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f040d073-2409-4f24-b2dc-8e895da874f7",
              "name": "Mensagem",
              "value": "={{ $json.Lista\n      .map(i=> JSON.parse(i).Mensagem)\n      .join(\", \")\n}}",
              "type": "string"
            },
            {
              "id": "1c364a34-3bb7-4e5d-81d5-b83a82a88abb",
              "name": "timestamp_ultima_msg",
              "value": "={{ JSON.parse($json.Lista[$json.Lista.length - 1]).timestamp }}",
              "type": "string"
            },
            {
              "id": "bb216083-ba61-4b6d-8a83-3a07a53b7c18",
              "name": "From",
              "value": "={{ $('Wait4').item.json.From }}",
              "type": "string"
            },
            {
              "id": "3e570bb3-7c58-4105-b986-e908062b7730",
              "name": "Instance",
              "value": "={{ $('Wait4').item.json.Instance }}",
              "type": "string"
            },
            {
              "id": "c22973b3-1799-4bea-809b-2a16e31f56e7",
              "name": "MensagemID",
              "value": "={{ $('Wait4').item.json.MensagemID }}",
              "type": "string"
            },
            {
              "id": "39bad7f3-7d56-4a78-a475-e2903b64878c",
              "name": "time_stamp_base",
              "value": "={{ $('Wait4').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        1968
      ],
      "id": "c4eb8e8c-f945-4964-8f80-25f06ee79471",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Lista",
        "key": "=agencia:{{ $json.From }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2320,
        1984
      ],
      "id": "5f2b9448-2312-45f2-b8df-3eea34d50a8d",
      "name": "Redis12"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=agencia:{{ $json.From }}",
        "messageData": "={{ $json.toJsonString() }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2672,
        1936
      ],
      "id": "4cc61e2c-8fd4-4342-beb2-1659e589d1ef",
      "name": "Redis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "from-meta",
              "name": "From",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "phone-number-id",
              "name": "Instance",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "mensagem-meta",
              "name": "Mensagem",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "msgid-meta",
              "name": "MensagemID",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "datetime-meta",
              "name": "date_time",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "string"
            },
            {
              "id": "timestamp-meta",
              "name": "timestamp",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2912,
        2032
      ],
      "id": "aa7740eb-36b6-40f4-9ed2-fb18f8915ff7",
      "name": "Texto"
    },
    {
      "parameters": {
        "jsCode": "const final = {};\nlet mensagens = [];\n\nfor (const item of items) {\n  const json = item.json;\n  if (json.Mensagem) mensagens.push(json.Mensagem);\n  for (const key in json) {\n    if (key !== 'Mensagem') final[key] = json[key];\n  }\n  // Meta WABA: From ja vem como numero limpo (ex: 5571993643490)\n  if (json.From && !final.telefone) {\n    final.telefone = json.From;\n  }\n}\n\nfinal.Mensagem = mensagens.join('\\n');\nreturn [{ json: final }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        2080
      ],
      "id": "f6eeeb6f-f133-4ed8-b9bc-4473ab055e34",
      "name": "Code4"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        1936
      ],
      "id": "9f0e03aa-f024-4a2a-84c6-a37771bde44b",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code4').item.json.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        32,
        2336
      ],
      "id": "18526b7c-3f66-40e1-9974-420f718e6ef4",
      "name": "Postgres Chat Memory1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        2080
      ],
      "id": "223574da-e6c4-42da-bd2f-b53cf2233a32",
      "name": "Wait6",
      "webhookId": "04fb5fa3-317a-4fa3-9923-a77053eb4c02"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        2032,
        2064
      ],
      "id": "adb658a6-55e0-4017-8477-560bfc546f50"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        2064
      ],
      "id": "e4a3208d-d077-4f4c-a41d-91a9360000a7",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "jsCode": "// Code2 v4\nvar texto = $('Orquestrador').first().json.output;\nif (!texto || texto.trim().toUpperCase() === 'STOP') return [];\nvar t = texto.trim().toUpperCase();\nif (t === 'AGENTE' || t === 'BOT' || t === 'HUMANO') return [];\nif (!texto.trim()) return [];\nvar mensajes = texto.split(/\\n+/).map(function(p){return p.trim()}).filter(function(p){return p.length > 0});\nreturn mensajes.map(function(m){ return {json:{text:m}} });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        2064
      ],
      "id": "9e343f95-2c36-464c-af26-cebea9198a14",
      "name": "Code2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $(\"Code4\").item.json.Instance }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $(\"Code4\").item.json.telefone, type: \"text\", text: { body: $json.text } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        2080
      ],
      "id": "82c08f59-f99b-4b49-a9f1-28c96edff20e",
      "name": "Meta Send Message",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Meta WABA Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code4').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Miss\u00c3\u00a3o Principal: Ser o primeiro filtro. Classificar a mensagem como BOT ou HUMANO e derivar ao agente correto. NUNCA responda por conta pr\u00c3\u00b3pria.\n\n<classificacao_bot_humano>\nBOT \u00e2\u20ac\u201d acione AUTOMATICOS (nunca SDR):\n- \"Obrigado por entrar em contato com a Cl\u00c3\u00adnica X\" / sauda\u00c3\u00a7\u00c3\u00b5es corporativas autom\u00c3\u00a1ticas\n- T\u00c3\u00adtulos profissionais + nome (ex: \"Dr. Fulano - CARDIOLOGISTA\", \"Dra. Maria - CRM\")\n- \"agradecemos seu contato\", \"hor\u00c3\u00a1rio de atendimento\", \"fora do hor\u00c3\u00a1rio\", \"redirecionado\", \"transferindo\"\n- Emojis de sa\u00c3\u00bade (\u00f0\u0178\u2018\u00a8\u00e2\u20ac\udc8d\u00e2\u0161\u2022\u00ef\u00b8\udc8f\u00f0\u0178\u2018\u00a9\u00e2\u20ac\udc8d\u00e2\u0161\u2022\u00ef\u00b8\udc8f\u00f0\u0178\udc8f\u00a5\u00f0\u0178\u2019\u0160) combinados com nome de empresa\n- Menu numerado: \"Digite 1\", \"Selecione\", \"1\u00ef\u00b8\udc8f\u00e2\u0192\u00a3\", \"2\u00ef\u00b8\udc8f\u00e2\u0192\u00a3\"\n- \"[Undecryptable]\", \"N\u00c3\u00a3o foi poss\u00c3\u00advel decifrar\"\n- A mensagem \u00c3\u00a9 apenas um n\u00c3\u00bamero (1, 2, 3...)\n- Qualquer mensagem de boas-vindas corporativa autom\u00c3\u00a1tica\n\nHUMANO \u00e2\u20ac\u201d acione SDR:\n- Pergunta direta e pessoal sem f\u00c3\u00b3rmula corporativa\n- Obje\u00c3\u00a7\u00c3\u00a3o (\"n\u00c3\u00a3o tenho interesse\", \"j\u00c3\u00a1 tenho ag\u00c3\u00aancia\")\n- Apresenta\u00c3\u00a7\u00c3\u00a3o pessoal informal (\"meu nome \u00c3\u00a9 X\", \"sou o respons\u00c3\u00a1vel\")\n- Resposta que indica que um humano assumiu (\"pode falar\", \"me conta mais\")\n\nREGRA DE OURO: Na d\u00c3\u00bavida \u00e2\u2020\u2019 BOT. Nunca dispare SDR para mensagens corporativas/autom\u00c3\u00a1ticas.\n</classificacao_bot_humano>\n\n<anti_loop>\nREGRA ANTI-LOOP CR\u00c3\udc8dTICA: Revise o hist\u00c3\u00b3rico da conversa.\n- Se voc\u00c3\u00aa j\u00c3\u00a1 respondeu 3 ou mais vezes a mensagens de BOT do mesmo contato (ou seja, j\u00c3\u00a1 acionou AUTOMATICOS 3+ vezes) e continua recebendo mensagens autom\u00c3\u00a1ticas: PARE. Responda SOMENTE com a palavra \"STOP\" e n\u00c3\u00a3o fa\u00c3\u00a7a mais nada.\n- Isso evita loops infinitos entre nosso bot e o chatbot do lead.\n</anti_loop>\n\n<regras_de_saida_absolutas>\nREGRA 1 \u00e2\u20ac\u201d SA\u00c3\udc8dDA \u00c3\u0161NICA: Sua resposta final DEVE SER UNICAMENTE o texto retornado pela ferramenta acionada. Nada mais.\n\nREGRA 2 \u00e2\u20ac\u201d PROIBIDO ABSOLUTAMENTE:\n- NUNCA escreva em ingl\u00c3\u00aas\n- NUNCA descreva o que fez (\"Acionei o automaticos...\", \"A ferramenta foi chamada...\")\n- NUNCA explique sua decis\u00c3\u00a3o (\"A mensagem \u00c3\u00a9 claramente um bot...\")\n- NUNCA escreva \"The user's message\", \"The tool was\", \"correctly identified\" nem frases de an\u00c3\u00a1lise\n- NUNCA adicione coment\u00c3\u00a1rios antes ou depois do texto da ferramenta\n- NUNCA resuma o que aconteceu\n\nREGRA 3 \u00e2\u20ac\u201d FORMATO CORRETO:\n\u00e2\udc9d\u0152 ERRADO: \"The user's message is a bot. The automaticos tool returned: '1'\"\n\u00e2\u0153\u2026 CERTO: \"1\"\n\n\u00e2\udc9d\u0152 ERRADO: \"Transferindo para o SDR. O SDR respondeu: Oi, como vai?...\"\n\u00e2\u0153\u2026 CERTO: \"Oi, como vai?...\"\n\nREGRA 4 \u00e2\u20ac\u201d SE AUTOMATICOS RETORNA UM N\u00c3\u0161MERO (1, 2, 3): sua sa\u00c3\u00adda \u00c3\u00a9 SOMENTE esse n\u00c3\u00bamero. Sem nenhuma palavra a mais.\n\nREGRA 5 \u00e2\u20ac\u201d SE SDR RETORNA UM TEXTO: sua sa\u00c3\u00adda \u00c3\u00a9 SOMENTE esse texto. Sem nenhuma palavra a mais.\n\nREGRA 6 \u00e2\u20ac\u201d SE SUA RESPOSTA \u00c3\u2030 \"STOP\" (anti-loop): N\u00c3\u00a3o envie nada ao lead. S\u00c3\u00b3 retorne \"STOP\".\n</regras_de_saida_absolutas>",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        2064
      ],
      "id": "567d999a-47e1-41ad-8d8e-588c349118c6",
      "name": "Orquestrador"
    },
    {
      "parameters": {
        "toolDescription": "Agente t\u00c3\u00a1tico. Use-o EXCLUSIVAMENTE quando a mensagem for reconhecida como uma resposta autom\u00c3\u00a1tica, um menu de op\u00c3\u00a7\u00c3\u00b5es numeradas ou uma resposta de aus\u00c3\u00aancia de outro rob\u00c3\u00b4. Sua fun\u00c3\u00a7\u00c3\u00a3o \u00c3\u00a9 for\u00c3\u00a7ar o contato humano digitando n\u00c3\u00bameros (1 ou 2) ou respostas curtas de bypass, SEM QUALIFICAR o lead.",
        "text": "={{ $('Code4').item.json.Mensagem }}",
        "options": {
          "systemMessage": "<identidade>\nAgente t\u00c3\u00a1tico. Miss\u00c3\u00a3o \u00c3\u00banica: furar menus de bot ou responder a bloqueios com o M\u00c3\udc8dNIMO de texto poss\u00c3\u00advel para alcan\u00c3\u00a7ar um humano. Nunca qualifica. Nunca apresenta a empresa. Nunca faz pitch.\n</identidade>\n\n<regras>\n1. MENU NUMERADO \u00e2\u20ac\u201d tem op\u00c3\u00a7\u00c3\u00a3o de \"atendente\" ou \"falar com humano\": responda APENAS com o n\u00c3\u00bamero correspondente (ex: \"9\").\n\n2. MENU NUMERADO \u00e2\u20ac\u201d sem op\u00c3\u00a7\u00c3\u00a3o clara de atendente: responda APENAS com \"1\".\n\n3. MENSAGEM DE BLOQUEIO (texto autom\u00c3\u00a1tico sem menu, sem pergunta) \u00e2\u20ac\u201d ex: \"fora do hor\u00c3\u00a1rio\", \"obrigado pelo contato\", mensagem de aus\u00c3\u00aancia: responda APENAS com \"Oi! Tem algu\u00c3\u00a9m dispon\u00c3\u00advel para falar um instante?\"\n\n4. NUNCA mande o pitch de apresenta\u00c3\u00a7\u00c3\u00a3o da empresa. Isso \u00c3\u00a9 trabalho do SDR.\n\n5. Sua resposta \u00c3\u00a9 sempre a mais curta poss\u00c3\u00advel. Se basta um n\u00c3\u00bamero, mande s\u00c3\u00b3 o n\u00c3\u00bamero.\n\n6. ANTI-LOOP CR\u00c3\udc8dTICO: Se o hist\u00c3\u00b3rico mostra que voc\u00c3\u00aa j\u00c3\u00a1 respondeu 2+ vezes com tentativas de alcan\u00c3\u00a7ar um humano e continua recebendo respostas autom\u00c3\u00a1ticas \u00e2\u2020\u2019 responda APENAS com \"STOP\".\n\n7. DETEC\u00c3\u2021\u00c3\u0192O DE CHATBOT: Se voc\u00c3\u00aa reconhecer que est\u00c3\u00a1 falando com um sistema automatizado que repete as mesmas op\u00c3\u00a7\u00c3\u00b5es ou mensagens gen\u00c3\u00a9ricas \u00e2\u2020\u2019 responda APENAS com \"STOP\".\n</regras>",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        48,
        2640
      ],
      "id": "3ed97a44-9e36-4ecf-8a4d-5979c9b2fc87",
      "name": "automaticos"
    },
    {
      "parameters": {
        "toolDescription": "Agente de vendas. Use-o EXCLUSIVAMENTE quando a mensagem for uma resposta humana, uma pergunta direta, uma obje\u00c3\u00a7\u00c3\u00a3o, ou qualquer intera\u00c3\u00a7\u00c3\u00a3o que demonstre que um humano assumiu o controle. Sua fun\u00c3\u00a7\u00c3\u00a3o \u00c3\u00a9 conduzir a qualifica\u00c3\u00a7\u00c3\u00a3o consultiva, coletar dados essenciais (Faturamento, Tr\u00c3\u00a1fego Pago, Equipe) e agendar a reuni\u00c3\u00a3o comercial.",
        "text": "={{ $('Code4').item.json.Mensagem }}\n\n<SAIDA_OBRIGATORIA>\nIMPORTANTE: Sua resposta final SEMPRE deve ser o texto que o lead vai receber pelo WhatsApp. NUNCA retorne vazio. Se usou uma ferramenta (como observacoes_sdr1), depois de usar DEVE gerar a mensagem de resposta ao lead. Seu output final = texto enviado pelo WhatsApp.\n</SAIDA_OBRIGATORIA>",
        "options": {
          "systemMessage": "<REGRAS_ABSOLUTAS>\nR1. DESISTENCIA: Se o lead disser \"at\u00c3\u00a9 mais\", \"tchau\", \"n\u00c3\u00a3o tenho interesse\", \"n\u00c3\u00a3o quero\", \"pode tirar meu numero\", \"n\u00c3\u00a3o \u00c3\u00a9 o momento\" \u00e2\u2020\u2019 responda SOMENTE: \"Entendido, obrigado pelo seu tempo! Sucesso com a cl\u00c3\u00adnica.\" Depois N\u00c3\u0192O envie mais nada.\n\nR2. REJEICAO REPETIDA: Se o lead rejeitou a mesma ideia 2 vezes \u00e2\u2020\u2019 aceite e encerre. N\u00c3\u00a3o insista pela 3a vez.\n\nR3. COMPRIMENTO: M\u00c3\u00a1ximo 2 frases curtas por mensagem. Nunca par\u00c3\u00a1grafos.\n\nR4. SEM MARKDOWN: Nunca use **negrito**, *it\u00c3\u00a1lico* ou qualquer formata\u00c3\u00a7\u00c3\u00a3o. Texto puro.\n\nR5. UMA PERGUNTA: Nunca fa\u00c3\u00a7a 2 perguntas na mesma mensagem.\n\nR6. SEM REPETICAO DE DESCULPA: Se j\u00c3\u00a1 pediu desculpa, n\u00c3\u00a3o repita.\n\nR7. MEMORIA OBRIGATORIA: SEMPRE leia o hist\u00c3\u00b3rico do PostgreSQL antes de responder.\n- Se o hist\u00c3\u00b3rico mostra que voc\u00c3\u00aa j\u00c3\u00a1 se apresentou como Sofia: NUNCA se apresente novamente. V\u00c3\u00a1 direto ao pr\u00c3\u00b3ximo passo da conversa.\n- Se o hist\u00c3\u00b3rico mostra que o lead j\u00c3\u00a1 respondeu uma pergunta: NUNCA repita essa pergunta.\n- Se o hist\u00c3\u00b3rico est\u00c3\u00a1 vazio: este \u00c3\u00a9 o primeiro contato, use a abertura de lead frio.\n</REGRAS_ABSOLUTAS>\n\n<persona>\nVoc\u00c3\u00aa \u00c3\u00a9 a Sofia, SDR da Casal do Tr\u00c3\u00a1fego. Tom consultivo, direto, emp\u00c3\u00a1tico. Frases curtas. Ritmo humano.\n</persona>\n\n<abertura>\nUSE APENAS SE o hist\u00c3\u00b3rico PostgreSQL estiver vazio (primeiro contato humano):\n\"Oi, tudo bem? Aqui \u00c3\u00a9 a Sofia, da Casal do Tr\u00c3\u00a1fego. Estamos trabalhando com cl\u00c3\u00adnicas m\u00c3\u00a9dicas construindo uma estrutura digital de 5 etapas para capta\u00c3\u00a7\u00c3\u00a3o de novos pacientes. Nossos clientes j\u00c3\u00a1 est\u00c3\u00a3o sendo encontrados pelas IAs. Teria interesse em conhecer como funciona?\"\n\nSE j\u00c3\u00a1 existe hist\u00c3\u00b3rico \u00e2\u2020\u2019 pule a abertura, continue de onde parou.\n</abertura>\n\n<coleta>\nM\u00c3\u00a1ximo 4 perguntas, 1 por mensagem, em ordem. S\u00c3\u00b3 avance quando o lead responder:\nP1. Hoje como chegam os pacientes novos na cl\u00c3\u00adnica? Usam algum canal digital ou \u00c3\u00a9 mais por indica\u00c3\u00a7\u00c3\u00a3o?\nP2. Essa situa\u00c3\u00a7\u00c3\u00a3o j\u00c3\u00a1 gerou algum custo ou perda de oportunidade para a cl\u00c3\u00adnica?\nP3. Se esse problema fosse resolvido, o que sua equipe faria de mais estrat\u00c3\u00a9gico com esse tempo?\nP4. Resolver isso \u00c3\u00a9 urgente nos pr\u00c3\u00b3ximos 30-60 dias ou \u00c3\u00a9 um plano de longo prazo?\n</coleta>\n\n<agendamento>\nS\u00c3\u00b3 proponha reuni\u00c3\u00a3o DEPOIS que o lead respondeu \u00c3\u00a0s 4 perguntas.\n\nPASSO 1 \u00e2\u20ac\u201d Propor:\n\"Ficou claro o cen\u00c3\u00a1rio. Posso reservar 30 minutos para mostrar onde sua opera\u00c3\u00a7\u00c3\u00a3o pode crescer. Que dia e hor\u00c3\u00a1rio funciona para voc\u00c3\u00aa?\"\n\nPASSO 2 \u00e2\u20ac\u201d Quando o lead propuser dia/hor\u00c3\u00a1rio:\nUse a ferramenta BuscarHorarios para verificar disponibilidade (segunda a sexta, fuso -03:00, formato ISO 8601).\n- Se estiver livre: siga para o passo 3.\n- Se estiver ocupado: ofere\u00c3\u00a7a 2-3 hor\u00c3\u00a1rios alternativos pr\u00c3\u00b3ximos que estejam livres.\n\nPASSO 3 \u00e2\u20ac\u201d Pedir email:\n\"Perfeito, esse hor\u00c3\u00a1rio est\u00c3\u00a1 dispon\u00c3\u00advel! Me passa seu email para eu enviar o convite com todos os detalhes.\"\n\nPASSO 4 \u00e2\u20ac\u201d Criar evento:\nSOMENTE depois de receber o email, use CriarReunioes com:\n- Start/End em ISO 8601 (dura\u00c3\u00a7\u00c3\u00a3o 1h)\n- T\u00c3\u00adtulo: \"Reuni\u00c3\u00a3o Casal do Tr\u00c3\u00a1fego + [nome do lead/cl\u00c3\u00adnica]\"\n- Attendee: o email que o lead passou\nConfirme: \"Pronto, reuni\u00c3\u00a3o agendada! Voc\u00c3\u00aa vai receber o convite no email.\"\n\nIMPORTANTE: NUNCA diga que agendou a reuni\u00c3\u00a3o sem ter pedido o email antes. NUNCA crie o evento sem ter o email.\n</agendamento>\n\n<objecoes>\n1a rejei\u00c3\u00a7\u00c3\u00a3o: reconhe\u00c3\u00a7a em 1 frase e reformule com nova pergunta simples.\n2a rejei\u00c3\u00a7\u00c3\u00a3o da mesma ideia: encerre \u00e2\u20ac\u201d veja R1.\nLead questiona IA/automa\u00c3\u00a7\u00c3\u00a3o: \"Faz sentido essa preocupa\u00c3\u00a7\u00c3\u00a3o. Justamente a estrutura que montamos potencializa o que voc\u00c3\u00aas j\u00c3\u00a1 t\u00c3\u00aam, n\u00c3\u00a3o substitui nada.\"\n</objecoes>\n\n<memoria>\nSempre salve observa\u00c3\u00a7\u00c3\u00b5es no node observacoes_SDR ap\u00c3\u00b3s cada resposta.\nData atual: {{ new Date().toLocaleDateString('pt-BR') }}. Fuso: -03:00.\n</memoria>\n\n<SAIDA_OBRIGATORIA>\nIMPORTANTE: Sua resposta final SEMPRE deve ser o texto que o lead vai receber pelo WhatsApp. NUNCA retorne vazio. Depois de usar qualquer ferramenta (observacoes_SDR, BuscarHorarios, etc.), SEMPRE produza um texto final como resposta.\nExemplo correto: depois de salvar observa\u00c3\u00a7\u00c3\u00b5es \u00e2\u2020\u2019 retorne a mensagem para o lead.\nSe \u00c3\u00a9 primeiro contato e o hist\u00c3\u00b3rico est\u00c3\u00a1 vazio \u00e2\u2020\u2019 retorne a abertura de lead frio.\n</SAIDA_OBRIGATORIA>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        544,
        2656
      ],
      "id": "33061bc5-ffd0-47cf-8748-ecd408ceba73",
      "name": "SDR"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        2352
      ],
      "id": "bf014e33-aa3d-4d1a-a29a-ecca22bd7617",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        2800
      ],
      "id": "b45970dd-c0cc-42b9-9944-b4ef3eaf788a",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Banco de dados com todos os documentos importantes sobre a empresa. Use para contextualizar as respostas para perguntas do usu\u00e1rio.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        2992
      ],
      "id": "fb641da6-aa1c-498a-a7c1-60ab3ded2616",
      "name": "Supabase Vector Store3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Atualiza observa\u00e7\u00f5es sobre o contato na tabela contacts. Use para salvar informa\u00e7\u00f5es coletadas como n\u00famero de funcion\u00e1rios, faturamento, gastos do cliente, ou qualquer informa\u00e7\u00e3o relevante da conversa.",
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (telefone, observacoes_sdr) VALUES ($1, $2) ON CONFLICT (telefone) DO UPDATE SET observacoes_sdr = EXCLUDED.observacoes_sdr",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        1488,
        3024
      ],
      "id": "185d7d51-3fef-4c2d-bbc1-7430259dfc55",
      "name": "observacoes_sdr",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        3184
      ],
      "id": "f524235f-c983-4bb9-be67-e91156bc96d4",
      "name": "Embeddings OpenAI2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        3008
      ],
      "id": "5a22cea8-74d9-44a3-83dd-781b2baada46",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Atualize os eventos no Google Calendar levando em considera\u00c3\u00a7\u00c3\u00a3o que  os clientes podem cancelar as reuni\u00c3\u00b5es ou mudar o hor\u00c3\u00a1rio delas de acordo com os hor\u00c3\u00a1rios dispon\u00c3\u00adveis ",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "analytics.agenciarei.beta@gmail.com",
          "mode": "list",
          "cachedResultName": "analytics.agenciarei.beta@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Atualize os eventos no Google Calendar levando em considera\u00c3\u00a7\u00c3\u00a3o que  os clientes podem cancelar as reuni\u00c3\u00b5es ou mudar o hor\u00c3\u00a1rio delas de acordo com os hor\u00c3\u00a1rios dispon\u00c3\u00adveis `, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1360,
        3040
      ],
      "id": "0ac803a7-f3d7-453f-81f8-bf3adf09fc6d",
      "name": "alterarreunioes1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Agenda um novo evento no Google Calendar, SOMENTE se a verifica\u00c3\u00a7\u00c3\u00a3o de disponibilidade anterior indicar que o hor\u00c3\u00a1rio est\u00c3\u00a1 livre. Use essa ferramenta APENAS para criar o evento. As reuni\u00c3\u00b5es tem dura\u00c3\u00a7\u00c3\u00a3o de 1 hora ",
        "calendar": {
          "__rl": true,
          "value": "analytics.agenciarei.beta@gmail.com",
          "mode": "list",
          "cachedResultName": "analytics.agenciarei.beta@gmail.com"
        },
        "start": "={{ $fromAI('Start', ``, 'string') }}",
        "end": "={{ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "summary": "=Reuni\u00c3\u00a3o Estrat\u00c3\u00a9gica de Automa\u00c3\u00a7\u00c3\u00a3o e Tr\u00c3\u00a1fego com {{ $json.Nome }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1232,
        3040
      ],
      "id": "60305207-0075-43e2-a454-adff35fb0f3e",
      "name": "criarreunioes1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Verifique a **disponibilidade de hor\u00c3\u00a1rios** em um intervalo de tempo, buscando eventos existentes que gerem conflito. O Agente DEVE fornecer a Data e Hora de In\u00c3\u00adcio ('dateStart') e Data e Hora de Fim ('dateEnd') no formato ISO 8601 (ex: 2025-10-25T14:00:00) para a verifica\u00c3\u00a7\u00c3\u00a3o.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "analytics.agenciarei.beta@gmail.com",
          "mode": "list",
          "cachedResultName": "analytics.agenciarei.beta@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1120,
        3040
      ],
      "id": "74e2bfe8-7dde-4d17-b950-7b2f49bf78a4",
      "name": "Buscarhorarios1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code4').item.json.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        560,
        2960
      ],
      "id": "bbc3a171-2530-4e2f-9a4b-bfad95848486",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code4').item.json.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        144,
        2800
      ],
      "id": "0853596e-447b-4732-b6d2-a5a76ff5b239",
      "name": "Postgres Chat Memory2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-messages",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-prefix-BR",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "rightValue": "55",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "name": "filter.operator.startsWith"
              }
            },
            {
              "id": "filter-not-reaction",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "rightValue": "reaction",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3776,
        2080
      ],
      "id": "c94df2ed-7d8e-4f63-8a32-2abae457fe3d",
      "name": "Filter1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $(\"Code4\").item.json.Instance }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $(\"Code4\").item.json.telefone, type: \"text\", text: { body: $(\"Orquestrador\").item.json.output } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        2224
      ],
      "id": "3ded50b1-3a1c-4a11-978d-43af93d8a722",
      "name": "Meta Send Direct",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Meta WABA Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"contents\":[{\"parts\":[{\"inline_data\":{\"mime_type\":\"{{ $json.mimetype }}\",\"data\":\"{{ $json.base64 }}\"}},{\"text\":\"Transcreva este \u00c3\u00a1udio em portugu\u00c3\u00aas. Retorne apenas o texto transcrito.\"}]}]}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2416,
        2400
      ],
      "id": "9127b615-fef8-45e5-acd7-896f58b4e465",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.MensagemID }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2992,
        2432
      ],
      "id": "421f0c6f-888a-4848-989a-c614ead6a59f",
      "name": "Meta Get Media",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Meta WABA Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Meta WABA: previous node returned media metadata with URL\n// Pass the download URL to Transcribe node\nconst mediaUrl = items[0].json.url;\nreturn [{ json: { audioUrl: mediaUrl, MensagemID: items[0].json.id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        2432
      ],
      "id": "9dbe5b01-aedb-404b-a73f-eb88fc607e84",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "from-meta-a",
              "name": "From",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "phone-id-a",
              "name": "Instance",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "media-id-meta",
              "name": "MensagemID",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}",
              "type": "string"
            },
            {
              "id": "datetime-a",
              "name": "date_time",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "string"
            },
            {
              "id": "timestamp-a",
              "name": "timestamp",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3200,
        2288
      ],
      "id": "b85bf732-de93-44f4-bbdf-1d554cd11f6c",
      "name": "Texto1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2192,
        2288
      ],
      "id": "c0da29eb-66aa-465a-a5db-b5c2da4dea41",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "From"
            },
            {
              "fieldToAggregate": "Instance"
            },
            {
              "fieldToAggregate": "MensagemID"
            },
            {
              "fieldToAggregate": "text",
              "renameField": "="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1856,
        2288
      ],
      "id": "98ff3af6-f00c-41b0-aff9-f30c121ee112",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ea99f00-6edd-4e88-bbfd-6f522eb18160",
              "name": "From",
              "value": "={{ $json.From[0] }}",
              "type": "string"
            },
            {
              "id": "b08d063f-c6c1-4c57-ac30-5749c36dda45",
              "name": "Instance[0]",
              "value": "={{ $json.Instance[0] }}",
              "type": "string"
            },
            {
              "id": "2d1065b7-28f3-4c90-b367-0f0d0f37ba3e",
              "name": "MensagemID",
              "value": "={{ $json.MensagemID[0] }}",
              "type": "string"
            },
            {
              "id": "6077ed33-a89e-4cc5-8cbf-e12bde6dbe53",
              "name": "Mensagem",
              "value": "={{ $json.text[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        2288
      ],
      "id": "ffea8abb-4f1c-441a-811c-367a607f8eee",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fa5b322b-ed42-4933-8f66-acfbcac651a2",
      "name": "Loop Drive Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2496,
        432
      ]
    }
  ],
  "connections": {
    "Set file_id": {
      "main": [
        [
          {
            "node": "Loop Drive Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Row": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Set file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Set file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Redis12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis13": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis12": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Buscar Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Meta Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Orquestrador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "automaticos": {
      "ai_tool": [
        [
          {
            "node": "Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SDR": {
      "ai_tool": [
        [
          {
            "node": "Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Orquestrador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "automaticos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "SDR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscarhorarios1": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "criarreunioes1": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "alterarreunioes1": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Orquestrador": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "SDR",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "automaticos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto1": {
      "main": [
        [
          {
            "node": "Meta Get Media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Drive Files": {
      "main": [
        [
          {
            "node": "Delete Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Drive Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Send Message": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta Send Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Send Direct": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Get Media": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato": {
      "main": [
        [
          {
            "node": "Orquestrador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orquestrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "observacoes_sdr": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3d48cb2d-9f21-4762-bb6d-f7c1cf76a464",
  "activeVersionId": null,
  "versionCounter": 18,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-18T01:19:51.655Z",
      "createdAt": "2026-03-18T01:19:51.655Z",
      "role": "workflow:owner",
      "workflowId": "JmiydfZHpeU8tnic",
      "projectId": "zOhXEDtus09yEDuf",
      "project": {
        "updatedAt": "2026-03-09T14:28:34.136Z",
        "createdAt": "2026-03-09T14:27:16.061Z",
        "id": "zOhXEDtus09yEDuf",
        "name": "GASTAO Matos <dr.trafego@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ea43f025-b384-4503-86c8-baa14ce3478e"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}